# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge-1.12.2-14.23.5.2854-mdk.zip
forge-1.15.2-31.2.0-mdk.zip
